.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.keyboard {
  text-align: center;
  background-color: black;
}

.key {
  background-color: white;
  border: solid #727272 1px;
  width: 50px;
  height: 100px;
  display: inline-block;
}
